[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
environ-config = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
httpx = "*"

[dev-packages]
pytest = "*"
requests = "*"

[requires]
python_version = "3.10"

[scripts]
tests = "pytest --cache-clear"